.landing {
  padding: 50px; }

.sceneContainer {
  position: relative;
  width: 1010px;
  height: 735px;
  overflow: hidden;
  border-radius: 50px; }

#sceneList {
  overflow: hidden;
  /* animation duration: 16s : 5x ~3s display image + 5x ~0.2s slide */ }

@-webkit-keyframes slide {
  0% {
    margin-top: 0px; }
  7.7% {
    margin-top: 0px; }
  9.2% {
    margin-top: -735px; }
  15.4% {
    margin-top: -735px; }
  16.9% {
    margin-top: -1470px; }
  23.1% {
    margin-top: -1470px; }
  24.6% {
    margin-top: -2205px; }
  30.8% {
    margin-top: -2205px; }
  32.3% {
    margin-top: -2940px; }
  38.5% {
    margin-top: -2940px; }
  40% {
    margin-top: -3675px; }
  46.2% {
    margin-top: -3675px; }
  47.7% {
    margin-top: -4410px; }
  53.9% {
    margin-top: -4410px; }
  55.4% {
    margin-top: -5145px; }
  61.6% {
    margin-top: -5145px; }
  63.1% {
    margin-top: -5880px; }
  69.3% {
    margin-top: -5880px; }
  70.8% {
    margin-top: -6615px; }
  77% {
    margin-top: -6615px; }
  78.5% {
    margin-top: -7350px; }
  84.7% {
    margin-top: -7350px; }
  86.2% {
    margin-top: -8085px; }
  92.4% {
    margin-top: -8085px; }
  93.9% {
    margin-top: -8820px; }
  100% {
    margin-top: -8820px; } }

@-moz-keyframes slide {
  0% {
    margin-top: 0px; }
  7.7% {
    margin-top: 0px; }
  9.2% {
    margin-top: -735px; }
  15.4% {
    margin-top: -735px; }
  16.9% {
    margin-top: -1470px; }
  23.1% {
    margin-top: -1470px; }
  24.6% {
    margin-top: -2205px; }
  30.8% {
    margin-top: -2205px; }
  32.3% {
    margin-top: -2940px; }
  38.5% {
    margin-top: -2940px; }
  40% {
    margin-top: -3675px; }
  46.2% {
    margin-top: -3675px; }
  47.7% {
    margin-top: -4410px; }
  53.9% {
    margin-top: -4410px; }
  55.4% {
    margin-top: -5145px; }
  61.6% {
    margin-top: -5145px; }
  63.1% {
    margin-top: -5880px; }
  69.3% {
    margin-top: -5880px; }
  70.8% {
    margin-top: -6615px; }
  77% {
    margin-top: -6615px; }
  78.5% {
    margin-top: -7350px; }
  84.7% {
    margin-top: -7350px; }
  86.2% {
    margin-top: -8085px; }
  92.4% {
    margin-top: -8085px; }
  93.9% {
    margin-top: -8820px; }
  100% {
    margin-top: -8820px; } }

@-ms-keyframes slide {
  0% {
    margin-top: 0px; }
  7.7% {
    margin-top: 0px; }
  9.2% {
    margin-top: -735px; }
  15.4% {
    margin-top: -735px; }
  16.9% {
    margin-top: -1470px; }
  23.1% {
    margin-top: -1470px; }
  24.6% {
    margin-top: -2205px; }
  30.8% {
    margin-top: -2205px; }
  32.3% {
    margin-top: -2940px; }
  38.5% {
    margin-top: -2940px; }
  40% {
    margin-top: -3675px; }
  46.2% {
    margin-top: -3675px; }
  47.7% {
    margin-top: -4410px; }
  53.9% {
    margin-top: -4410px; }
  55.4% {
    margin-top: -5145px; }
  61.6% {
    margin-top: -5145px; }
  63.1% {
    margin-top: -5880px; }
  69.3% {
    margin-top: -5880px; }
  70.8% {
    margin-top: -6615px; }
  77% {
    margin-top: -6615px; }
  78.5% {
    margin-top: -7350px; }
  84.7% {
    margin-top: -7350px; }
  86.2% {
    margin-top: -8085px; }
  92.4% {
    margin-top: -8085px; }
  93.9% {
    margin-top: -8820px; }
  100% {
    margin-top: -8820px; } }

@keyframes slide {
  0% {
    margin-top: 0px; }
  7.7% {
    margin-top: 0px; }
  9.2% {
    margin-top: -735px; }
  15.4% {
    margin-top: -735px; }
  16.9% {
    margin-top: -1470px; }
  23.1% {
    margin-top: -1470px; }
  24.6% {
    margin-top: -2205px; }
  30.8% {
    margin-top: -2205px; }
  32.3% {
    margin-top: -2940px; }
  38.5% {
    margin-top: -2940px; }
  40% {
    margin-top: -3675px; }
  46.2% {
    margin-top: -3675px; }
  47.7% {
    margin-top: -4410px; }
  53.9% {
    margin-top: -4410px; }
  55.4% {
    margin-top: -5145px; }
  61.6% {
    margin-top: -5145px; }
  63.1% {
    margin-top: -5880px; }
  69.3% {
    margin-top: -5880px; }
  70.8% {
    margin-top: -6615px; }
  77% {
    margin-top: -6615px; }
  78.5% {
    margin-top: -7350px; }
  84.7% {
    margin-top: -7350px; }
  86.2% {
    margin-top: -8085px; }
  92.4% {
    margin-top: -8085px; }
  93.9% {
    margin-top: -8820px; }
  100% {
    margin-top: -8820px; } }

.scene {
  width: 1010px;
  height: 735px; }

#list > .scene {
  border-radius: 50px; }

#divPlay {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 300px;
  height: 300px;
  box-sizing: border-box;
  z-index: 10;
  border-style: solid;
  border-width: 150px 0px 150px 300px;
  border-color: transparent transparent transparent rgba(65, 152, 244, 0.6);
  cursor: pointer; }

.coffeeInfo {
  display: grid;
  grid-template-columns: 45% 1% 54%;
  text-align: center;
  font-family: "Lucida Bright", serif;
  text-shadow: 3px 3px 2px #787878; }
  .coffeeInfo .firstDiv {
    display: grid;
    grid-template-rows: 30% 70%;
    padding: 20px;
    height: inherit; }
    .coffeeInfo .firstDiv .name {
      align-self: center;
      font-size: 2rem; }
      .coffeeInfo .firstDiv .name span {
        font-size: 1.6rem; }
      .coffeeInfo .firstDiv .name img {
        margin: 0 7px; }
      .coffeeInfo .firstDiv .name .imgFlag {
        width: 38px; }
      .coffeeInfo .firstDiv .name #imgShady01 {
        height: 0.8em; }
      .coffeeInfo .firstDiv .name #imgShady02 {
        height: 0.8em; }
    .coffeeInfo .firstDiv .map {
      width: 100%;
      height: 85%; }
  .coffeeInfo .divider {
    width: 5px;
    height: 80%;
    background-color: black;
    align-self: center; }
  .coffeeInfo .secondDiv {
    display: grid;
    grid-template-rows: 34% 22% 22% 22%;
    padding: 100px 0;
    font-size: 1.8rem;
    text-transform: capitalize;
    text-align: left; }
    .coffeeInfo .secondDiv * {
      padding: 30px 50px 0; }
    .coffeeInfo .secondDiv .flavorNotes {
      text-align: center; }
    .coffeeInfo .secondDiv .roastery {
      position: relative; }
      .coffeeInfo .secondDiv .roastery img {
        position: absolute;
        right: 0;
        top: -20px;
        width: 80px;
        border-radius: 50%; }

.weave {
  background: linear-gradient(135deg, #a1acb7 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px), linear-gradient(225deg, #a1acb7 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px) 0 64px;
  background-color: #a1acb7;
  background-size: 64px 128px; }

.shippo {
  background-color: #def;
  background-image: radial-gradient(closest-side, transparent 98%, rgba(0, 0, 0, 0.3) 99%), radial-gradient(closest-side, transparent 98%, rgba(0, 0, 0, 0.3) 99%);
  background-size: 80px 80px;
  background-position: 0 0, 40px 40px; }

.starryNight {
  background-color: black;
  background-image: radial-gradient(white, rgba(255, 255, 255, 0.2) 2px, transparent 40px), radial-gradient(white, rgba(255, 255, 255, 0.15) 1px, transparent 30px), radial-gradient(white, rgba(255, 255, 255, 0.1) 2px, transparent 40px), radial-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
  color: lightgray; }
  .starryNight .divider {
    background-color: lightgray; }

.pictureScene {
  text-align: center;
  position: relative; }
  .pictureScene .frame {
    max-width: 800px;
    max-height: 600px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #ddc;
    border: solid 5vmin #eee;
    border-bottom-color: #fff;
    border-left-color: #eee;
    border-radius: 3px;
    border-right-color: #eee;
    border-top-color: #ddd;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25) inset, 0 5px 10px 5px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    display: inline-block;
    margin: 10vh 10vw;
    height: 80vh;
    padding: 4vmin;
    position: relative;
    text-align: center; }
    .pictureScene .frame:before {
      content: "";
      position: absolute;
      border-radius: 2px;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25) inset;
      left: -2vmin;
      right: -2vmin;
      top: -2vmin;
      bottom: -2vmin; }
    .pictureScene .frame:after {
      content: "";
      position: absolute;
      border-radius: 2px;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
      left: -2.5vmin;
      right: -2.5vmin;
      top: -2.5vmin;
      bottom: -2.5vmin; }
    .pictureScene .frame img {
      border: solid 2px;
      border-bottom-color: #ffe;
      border-left-color: #eed;
      border-right-color: #eed;
      border-top-color: #ccd;
      max-height: 100%;
      max-width: 100%; }
