.container {
  width: 1010px;
  height: 735px;
  overflow: hidden;
  border-radius: 50px; }

.landing {
  padding: 50px; }

#list {
  overflow: hidden;
  /* animation duration: 16s : 5x ~3s display image + 5x ~0.2s slide */
  animation: slide 13s infinite alternate; }

@keyframes slide {}#list > * {
  float: left; }

.scene {
  width: 1010px;
  height: 735px; }

.coffeeInfo {
  display: grid;
  grid-template-columns: 45% 1% 54%;
  text-align: center;
  font-family: "Lucida Bright", serif;
  text-shadow: 3px 3px 2px #787878; }
  .coffeeInfo .firstDiv {
    display: grid;
    grid-template-rows: 30% 70%;
    padding: 20px;
    height: inherit; }
    .coffeeInfo .firstDiv .name {
      align-self: center;
      font-size: 2rem; }
      .coffeeInfo .firstDiv .name span {
        font-size: 1.6rem; }
    .coffeeInfo .firstDiv .map {
      width: 100%;
      height: 85%; }
  .coffeeInfo .divider {
    width: 5px;
    height: 80%;
    background-color: black;
    align-self: center; }
  .coffeeInfo .secondDiv {
    display: grid;
    grid-template-rows: 34% 22% 22% 22%;
    padding: 100px 0;
    font-size: 1.8rem;
    text-transform: capitalize;
    text-align: left; }
    .coffeeInfo .secondDiv * {
      padding: 30px 50px 0; }
    .coffeeInfo .secondDiv .flavorNotes {
      text-align: center; }

.weave {
  background: linear-gradient(135deg, #a1acb7 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px), linear-gradient(225deg, #a1acb7 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px) 0 64px;
  background-color: #a1acb7;
  background-size: 64px 128px; }

.shippo {
  background-color: #def;
  background-image: radial-gradient(closest-side, transparent 98%, rgba(0, 0, 0, 0.3) 99%), radial-gradient(closest-side, transparent 98%, rgba(0, 0, 0, 0.3) 99%);
  background-size: 80px 80px;
  background-position: 0 0, 40px 40px; }

.starryNight {
  background-color: black;
  background-image: radial-gradient(white, rgba(255, 255, 255, 0.2) 2px, transparent 40px), radial-gradient(white, rgba(255, 255, 255, 0.15) 1px, transparent 30px), radial-gradient(white, rgba(255, 255, 255, 0.1) 2px, transparent 40px), radial-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
  color: lightgray; }
  .starryNight .divider {
    background-color: lightgray; }
