@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@include keyframes(slide) {
  0% { margin-top: 0px; }
  7.7% { margin-top: 0px; }
  9.2% { margin-top: -735px; }
  15.4% { margin-top: -735px; }
  16.9% { margin-top: -1470px; }
  23.1% { margin-top: -1470px; }
  24.6% { margin-top: -2205px; }
  30.8% { margin-top: -2205px; }
  32.3% { margin-top: -2940px; }
  38.5% { margin-top: -2940px; }
  40% { margin-top: -3675px; }
  46.2% { margin-top: -3675px; }
  47.7% { margin-top: -4410px; }
  53.9% { margin-top: -4410px; }
  55.4% { margin-top: -5145px; }
  61.6% { margin-top: -5145px; }
  63.1% { margin-top: -5880px; }
  69.3% { margin-top: -5880px; }
  70.8% { margin-top: -6615px; }
  77% { margin-top: -6615px; }
  78.5% { margin-top: -7350px; }
  84.7% { margin-top: -7350px; }
  86.2% { margin-top: -8085px; }
  92.4% { margin-top: -8085px; }
  93.9% { margin-top: -8820px; }
  100% { margin-top: -8820px; }
}
