@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@include keyframes(slide) {
  0% {
    margin-top: 0px;
  }
  8.3% {
    margin-top: 0px;
  }
  10% {
    margin-top: -735px;
  }
  16.6% {
    margin-top: -735px;
  }
  18.3% {
    margin-top: -1470px;
  }
  24.9% {
    margin-top: -1470px;
  }
  26.6% {
    margin-top: -2205px;
  }
  33.2% {
    margin-top: -2205px;
  }
  34.9% {
    margin-top: -2940px;
  }
  41.5% {
    margin-top: -2940px;
  }
  43.2% {
    margin-top: -3675px;
  }
  49.8% {
    margin-top: -3675px;
  }
  51.5% {
    margin-top: -4410px;
  }
  58.1% {
    margin-top: -4410px;
  }
  59.8% {
    margin-top: -5145px;
  }
  66.4% {
    margin-top: -5145px;
  }
  68.1% {
    margin-top: -5880px;
  }
  74.7% {
    margin-top: -5880px;
  }
  76.4% {
    margin-top: -6615px;
  }
  83% {
    margin-top: -6615px;
  }
  84.7% {
    margin-top: -7350px;
  }
  91.3% {
    margin-top: -7350px;
  }
  93% {
    margin-top: -8085px;
  }
  100% {
    margin-top: -8085px;
  }
}
