$screen-width: 1010px;
$screen-height: 735px;
$bgcolor: #a1acb7;

.landing {
  padding: 50px;
}

.sceneContainer {
  width: $screen-width;
  height: $screen-height;
  overflow: hidden;
  border-radius: 50px;
}

#sceneList {
  overflow: hidden;
  /* animation duration: 16s : 5x ~3s display image + 5x ~0.2s slide */
  // -webkit-animation: slide 78s infinite alternate;
  // animation: slide 78s infinite alternate;
}

@import "keyframes";

.scene {
  width: $screen-width;
  height: $screen-height;
}

#list > .scene {
  border-radius: 50px;
}

@import "coffee";
@import "backgroundPattern";
@import "picture";
